.load_button {
  display: block;
  margin: auto;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(172, 172, 172, 0.37);
  padding: 20px;
  border-radius: 30px;
  filter: drop-shadow(6px 4px 4px rgb(128, 123, 123));
  width: 201px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.load_button:hover {
  transform: scale(1.1);
}

.next {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin: 5px;
  cursor: pointer;
}

.back {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  margin: 5px;
  cursor: pointer;
}

.back:hover,
.next:hover {
  transform: scale(1.1);
}

.btn {
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(172, 172, 172, 0.37);
  border: rgb(201, 201, 201) transparent;
  border-radius: 30px;
  filter: drop-shadow(6px 4px 4px rgb(128, 123, 123));
  width: 92px;
  height: 35px;
}

.btn:hover {
  transform: scale(1.1);
}
